<h1>Welcome to this awesome page</h1>
<p>Find me in app/views/pages/home.html.erb to learn more about rails</p>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary btn-lg">Left</button>
  <button type="button" class="btn btn-primary btn-lg">Middle</button>
  <button type="button" class="btn btn-primary btn-lg">Right</button>
  <button type="button" class="btn btn-primary btn-lg">Large button</button>
  <p class="bg-success"></p>

</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/48OJbbI0DfE" allowfullscreen></iframe>
</div>
<div class="container-fluid">
  <!-- A fluid container that uses the full witdh -->
</div>
